<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="home :: header-meta-css" />
</head>
<body>
	<div class="page">
		<div th:replace="home :: header" />
		<div class="page-content d-flex align-items-stretch">
			<!-- Side Navbar -->
			<div th:replace="home :: slide-menu" />

			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">Students</h2>
					</div>
				</header>
				<!-- Dashboard Counts Section-->
				<section class="form" style="padding: 15px;">
					<div class="col-lg-10">
						<form class="form-horizontal" method="post" id="studentForm"
							th:action="@{/student/save}" th:object="${student}">
							<div class="page-header" style="padding: 10px; margin-bottom: 20px; margin-left: 100px">
								<input type="submit" value="Submit" class="submit btn btn-primary" />
								<a class="btn btn-secondary" th:href="@{/students}">Cancel</a>					
							</div>
							<div class="card" style="margin-left: 100px">
								<div class="card-header d-flex align-items-center">
									<h3 class="h4">Edit student form</h3>
								</div>
								<div class="card-body">
									<p>Enter the student informations</p>
									<div class="form-group row">
										<div class="col-sm-9">
											<input th:field="*{id}" readonly="readonly" hidden="true"
												class="form-control form-control-success" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Matricule</label>
										<div class="col-sm-9">
											<input type="text" th:field="*{matricule}" id="matricule" placeholder="matricule"
												class="form-control form-control-success" value="" required="required" />
											<small class="form-text" >Enter the matricule here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">First name</label>
										<div class="col-sm-9">
											<input type="text" th:field="*{firstName}" id="firstName" placeholder="first name"
												class="form-control form-control-success" value="" required="required" />
											<small class="form-text" >Enter the first name here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Last name</label>
										<div class="col-sm-9">
											<input type="text" th:field="*{lastName}" id="lastName"
												placeholder="last name"
												class="form-control form-control-success"/>
											<small class="form-text" >Enter the last name here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Email</label>
										<div class="col-sm-9">
											<input type="email" th:field="*{email}" id="email" placeholder="email"
												class="form-control form-control-success" value="" />
											<small class="form-text" >Enter the email here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Phone number</label>
										<div class="col-sm-9">
											<input type="number" th:field="*{phoneNumber}" id="phoneNumber" placeholder="phone number"
												class="form-control form-control-success" value="" />
											<small class="form-text" >Enter the phone number here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Father phone number</label>
										<div class="col-sm-9">
											<input type="number" th:field="*{fatherPhoneNumber}" id="fatherPhoneNumber" placeholder="father phone number"
												class="form-control form-control-success" value="" />
											<small class="form-text" >Enter the father phone number here .</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-3 form-control-label">Mother phone number</label>
										<div class="col-sm-9">
											<input type="number" th:field="*{motherPhoneNumber}" id="motherPhoneNumber" placeholder="mother phone number"
												class="form-control form-control-success" value="" />
											<small class="form-text" >Enter the mother phone number here .</small>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</section>
				<div th:replace="home :: footer" />
			</div>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$("#studentForm").validate({
				messages: {
					matricule: {
						required: 'Please enter the registration number'
					},
					firstName: {
						required: 'Please enter the first name'
					}
				}
			});
		});
	</script>
</body>
</html>