<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<div th:replace="home :: header-meta-css" />
</head>
<body>
	<div class="page">
		<div th:replace="home :: header" />
		<div class="page-content d-flex align-items-stretch">
			<!-- Side Navbar -->
			<div th:replace="home :: slide-menu" />

			<div class="content-inner">
				<!-- Page Header-->
				<header class="page-header">
					<div class="container-fluid">
						<h2 class="no-margin-bottom">Classrooms</h2>
					</div>
				</header>
				<!-- Dashboard Counts Section-->
				<section class="form" style="padding: 15px;">
					<div class="col-lg-9">
						<form class="form-horizontal" method="post"
							th:action="@{/classroom.student.add}" th:object="${forStudentPick}">
							<div class="page-header" style="padding: 10px; margin-bottom: 20px; margin-left: 100px">
								<input type="submit" value="Submit" class="btn btn-primary" />
								<a class="btn btn-secondary" th:href="@{/classroom.student.pick.cancel(classroomId=${forStudentPick.parentId})}">Cancel</a>					
							</div>
							<div class="card" style="margin-left: 100px">
								<div class="card-header d-flex align-items-center">
									<h3 class="h4">Please select the student you want to add</h3>
								</div>
								<input type="hidden" th:field="*{parentId}" name="classroomid" id="classroomid" value="" />
								<div class="card-body">
									<div class="form-group row">
										<label class="col-sm-2">Student :</label>
							            <div class="col-sm-5 select">
								        	<select th:field="*{id}"
												class="js-example-basic-single form-control form-control-success" 
												id="student-id" name="products[]">
												<option th:each="student : ${allStudents}" th:text="${student.getMatricule()}+'-'+${student.getFullName()}"
								                	th:value="${student.id}" />	
											</select>
							        	</div>
							        </div>
								</div>
							</div>
						</form>
					</div>
				</section>
				<div th:replace="home :: footer" />
			</div>
		</div>
	</div>
</body>
</html>